<% include headers/baseHeader.ejs %>

<div id='topMenu'></div>

<div id='shortMessagePage'><%= message %> <br />
    <a href="/">Return on the main page</a>.
</div>






<% include footers/baseFooter.ejs %>